<div>
  <%= @memo['title'] %>
</div>
<div>
  <%= @memo['content'] %>
</div>
   
<div>
    <button>
      <a href="/memos/<%= @memo['id'] %>/edit">編集</a>
    </button>

    <form class="button" method="post" action="/memos/<%= @memo['id'] %>/delete">
		  <input type="hidden" name="_method" value="DELETE">
		  <input type="submit" value="削除">
	  </form>
</div>
