<div>
  <%= @memo['title'] %>
</div>
<div>
  <%= @memo['content'] %>
</div>
   
<div>
    <button>
      <a href="/memos/<%= @memo['id'] %>/edit">編集</a>
    </button>

    <button>
      <a href="/delete">削除</a>
    </button>
</div>
