<html>
  <head>
    <title><%= @title %>メモアプリ</title>
  </head>

  <body>
    <header>
      <h1>メモアプリ</h1>
    </header>

    <div>
      .......................................<br>
      <%= yield %> 
      <br>.......................................
    </div>
    
    <footer>
    <p>©️taku.fujisaki</p>
    </footer>
  </body>

  
</html>
