<h2>new memo</h2>

<form method="post" action="/memos/new">
	<input type="text" name="title"  placeholder="title"><br>
	<textarea name="content" class="memo-body border" placeholder="contents"></textarea>
  <input type= "submit" value="作成">
</form>
