
      
<a href="/memos/<%= @memo['id'] %>">
  <%= @memo['title'] %>
</a>
<div>
  <%= @memo['content'] %>
</div>

      


<div>
    <button>
      <a href="/edit">編集</a>
    </button>

    <button>
      <a href="/delete">削除</a>
    </button>
</div>

<div>
    
</div>
