<ul>
    <% @memos.each_with_index do |memo, index| %>
      <li>
          <a href="/memos/<%= memo['id'] %>/show">
            <%= memo['title'] %>  
          </a>
      </li>
    <% end %>
</ul>

<div>
    <button>
      <a href="/memos/new">作成</a>
    </button>
</div>
